/*background fixed styling*/

.splash__bkg-img--fixed {
  background: url(../img/NewWhip.jpg) no-repeat;
  background-size: cover;
  height: 150rem;
  background-attachment: fixed;
  background-position: center center;
}
.splash__hidden-container--large {
  height: 47rem;
}
.splash__title {
  font: 2rem/2rem'Muli', sans-serif;
  color: #FFF;
  padding-top: 8rem;
  padding-left: 5rem;
}
.body__light {
  background-color: $second_color;
  height: 140rem;
}
/*article styling*/

.article__relative {
  position: relative;
}
.article__header {
  padding-top: 115px;
  font-size: 2.1rem;
  line-height: 2.5rem;
  color: #C89F68;
}
.article__text {
  width: 65%;
}
.article__text--condensed {
  width: 90%;
  font-size: 1rem;
  line-height: 1.2rem;
}
.img__float-left {
  float: left;
  padding: 0 2rem .5rem 0;
  overflow: hidden;
}
