// Base Colors sampled from the skateboard image

$first_color:  #003642;  //deep ocean blue
$second_color: #96B9C0;  //grayish blue
$third_color:  #F5BC57;  //soft yellow peach
$fourth_color: #EE7E14;  //vivid sunlight orange
$fifth_color:  #D65C12;  //deep pumpkin orange

