// Base Styles

html, body {
  font-family: $font-base, serif;
  p {
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
    color: $first_color;
    line-height: 2rem;
  }
}
h1 {
  font: 4rem/4rem $font-titles, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 3rem 0 1.5rem 0;
}
a {
  text-decoration: none;
  color: $second_color;
  &:hover {
    color: $first_color;
    transition: all .30s ease;
  }
}
.large {
  font-size: 2rem;
  color: $third_color;
}

.ex-large {
  font-size: 6rem;
  color: $third_color;
}

.text__shadow {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}
