// Layout for the site

.recent_work {
  margin: 0 auto;
  max-width: 54rem;
  width: 85%;
  h1 {
    font-size: 2rem;
    color: $first-color;
  }
  h2 {
    font-size: 1.5rem;
    color: $third-color;
    width: 90%;
    text-align: justify;
    margin: 0 auto;
    padding-bottom: .5rem;
  }
  p {
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.4rem;
    width: 90%;
    text-align: justify;
  }
  img {
    width: 100%;
    padding-bottom: 5%;
    margin: 0 auto;
  }
  button {
    font-size: 1rem;
    color: #FFF;
    background-color: $second_color;
    padding: 0.5rem;
    border: 0 none;
    border-radius: 0.1rem;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .1);
    margin-left: 5%;
    margin-bottom: 5%;
    &:hover {
      cursor: pointer;
      box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .1);
    }
    &:focus {
      outline: none;
    }
  }
}
.full-image {
  width: 100%;
  height: auto;
}
.social_nav {
  text-align: center;
  margin-top: 1rem;
  span {
    padding: 0 1rem;
  }
}
footer {
  p {
    font-size: 1rem;
    text-align: center;
    color: $second_color;
    padding-top: 1rem;
  }
}
