// Layout for the site

section .article_post {
  margin: 0 auto;
  max-width: 54rem;
  padding-top: 8rem;
}
.align__center {
  text-align: center;
  margin: auto 15%;
}
.align__left {
  text-align: left;
  margin: auto 15%;
}
.align__right {
  text-align: right;
  margin-right: 15%;
}
.img__float-left {
  float: left;
  padding: 0 2rem .5rem 0;
  overflow: hidden;
}
