// Layout for the site
.recent_work {
  margin: 0 auto;
  padding: 8rem 3rem 3rem;
  h1 {
    font-size: 2rem;
    color: $first-color;
  }
  h2 {
    font-size: 1.5rem;
    color: $third-color;
    width: 90%;
    text-align: justify;
    margin: 0 auto;
    padding-bottom: .5rem;
    text-transform: uppercase;
    font-family: $font-titles;
  }
  p {
    margin: 0 auto;
    font-size: .8rem;
    line-height: 1rem;
    width: 90%;
    text-align: justify;
  }
  img {
    width: 100%;
    padding-bottom: 5%;
    margin: 0 auto;
    &:focus, &:hover {
      transition: all .30s ease;
      opacity: .8;
      cursor: pointer;
      z-index: 5;
    }
  }
}
.full-image {
  width: 100%;
  height: auto;
}
footer {
  p {
    font-size: 1rem;
    text-align: center;
    color: $second_color;
    padding-top: 1rem;
  }
}
