.splash_bkg {
  background: url(../img/NewWhip.jpg) no-repeat;
  background-size: cover;
  height: auto;
  background-attachment: fixed;
  background-position: center center;
}
.splash_container {
  height: 29rem;
}
.splash_title {
  font: 3rem/3rem $font-titles, sans-serif;
  padding: 10rem 1rem 3rem 3rem;
  color: #FFF;
  font-weight: bolder;
}
.body_light {
  background-color: rgba(255, 255, 255, 0.92);
  height: auto;
}
