//js selected selectors
#navbar.navbar__fixed {
  position: fixed;
  top: 0;
  padding-top: 1rem;
  width: 100%;
  height: 3.75rem;
  box-shadow: 0 1px 1px #DCDCDC;
  background-color: rgb( 255, 255, 255);
  background-color: rgba( 255, 255, 255, 0.95);
  .navbar__inline li {
    background-color: rgba( 5, 5, 5, 0.075);
  }
}
#navbar.navbar__absolute {
  position: absolute;
  top: 750px;
  padding-top: 1rem;
  width: 100%;
  height: 3.75rem;
  background-color: rgb( 255, 255, 255);
  background-color: rgba( 255, 255, 255, 0.1);
}
//main navbar for the site
.navbar__container {
  padding: .85rem;
}
.navbar__inline li {
  display: inline;
  margin-left: .5rem;
  padding: .5rem 1rem;
  text-decoration: none;
  background-color: rgba( 5, 5, 5, 0.025);
}
